.price-item {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  display: block;
  height: 42px;
  &__input {
    appearance: none;
    position: absolute;
  }
  &__checkbox {
    height: 42px;
    width: 100%;
    padding: 15px;
    display: inline-block;
  }


}
