.app {
  background: #f3f7fa;
  &__container {
    width: calc(100% - 206px);
    padding-top: 50px;
    margin: 0 auto;
  }
  &__logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
    background: url('./img/app/logo.svg') no-repeat 50% 50%;
  }
  &--inner {
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
}
