body {
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #4a4a4a;
  line-height: 12px;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
p,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
input[type='checkbox']{
  margin: 0;
}
input[type='checkbox']:focus-visible {
  outline: none;
  outline-offset: 0;
}
